# Lori's Gifts Store Listing - Vendor Edition

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(r'Copy of Vendor Stores Report_040820.xls', skiprows=2)

In [3]:
df.head()

,#,Hospital,Alternate Name,Address1,Address2,City,St.,Zip,Phone,Ext.
0,0,CORPORATE,NaN,2125 Chenault,NaN,Carrollton,TX,75006,(972)759-5000,NaN
1,1,CORPORATE,NaN,2125 Chenault,NaN,Carrollton,TX,75006,(972)759-5000,NaN
2,2,Plano-Medical City,NaN,3901 W 15th St,Floor 1 Ste 101,Plano,TX,75075,(972)519-1270,NaN
3,7,Methodist Specialty and Transplant Hospital,NaN,8026 Floyd Curl Dr,NaN,San Antonio,TX,78229,(210)575-8278,NaN
4,8,Metropolitan Methodist Hospital,NaN,1310 McCullough Ave,NaN,San Antonio,TX,782125601,(210)757-2556,NaN

In [4]:
df.drop(df.columns[[2, 4, 9]], axis = 1, inplace = True)

In [5]:
df = df.fillna("")

In [6]:
df.head()

,#,Hospital,Address1,City,St.,Zip,Phone
0,0,CORPORATE,2125 Chenault,Carrollton,TX,75006,(972)759-5000
1,1,CORPORATE,2125 Chenault,Carrollton,TX,75006,(972)759-5000
2,2,Plano-Medical City,3901 W 15th St,Plano,TX,75075,(972)519-1270
3,7,Methodist Specialty and Transplant Hospital,8026 Floyd Curl Dr,San Antonio,TX,78229,(210)575-8278
4,8,Metropolitan Methodist Hospital,1310 McCullough Ave,San Antonio,TX,782125601,(210)757-2556

In [7]:
df.dtypes

#            int64
Hospital    object
Address1    object
City        object
St.         object
Zip         object
Phone       object
dtype: object

In [8]:
df['Zip'] = df['Zip'].str.slice(0, 5)

In [9]:
df.head()

,#,Hospital,Address1,City,St.,Zip,Phone
0,0,CORPORATE,2125 Chenault,Carrollton,TX,75006,(972)759-5000
1,1,CORPORATE,2125 Chenault,Carrollton,TX,75006,(972)759-5000
2,2,Plano-Medical City,3901 W 15th St,Plano,TX,75075,(972)519-1270
3,7,Methodist Specialty and Transplant Hospital,8026 Floyd Curl Dr,San Antonio,TX,78229,(210)575-8278
4,8,Metropolitan Methodist Hospital,1310 McCullough Ave,San Antonio,TX,78212,(210)757-2556

In [10]:
df['Grove_Zip'] = str('43123')

In [11]:
df.head()

,#,Hospital,Address1,City,St.,Zip,Phone,Grove_Zip
0,0,CORPORATE,2125 Chenault,Carrollton,TX,75006,(972)759-5000,43123
1,1,CORPORATE,2125 Chenault,Carrollton,TX,75006,(972)759-5000,43123
2,2,Plano-Medical City,3901 W 15th St,Plano,TX,75075,(972)519-1270,43123
3,7,Methodist Specialty and Transplant Hospital,8026 Floyd Curl Dr,San Antonio,TX,78229,(210)575-8278,43123
4,8,Metropolitan Methodist Hospital,1310 McCullough Ave,San Antonio,TX,78212,(210)757-2556,43123

In [12]:
pip install pgeocode

Requirement already satisfied: pgeocode in c:\users\technologydataservic\anaconda3\lib\site-packages (0.3.0)
Requirement already satisfied: numpy in c:\users\technologydataservic\anaconda3\lib\site-packages (from pgeocode) (1.21.5)
Requirement already satisfied: pandas in c:\users\technologydataservic\anaconda3\lib\site-packages (from pgeocode) (1.4.2)
Requirement already satisfied: requests in c:\users\technologydataservic\anaconda3\lib\site-packages (from pgeocode) (2.27.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\technologydataservic\anaconda3\lib\site-packages (from pandas->pgeocode) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\technologydataservic\anaconda3\lib\site-packages (from pandas->pgeocode) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\technologydataservic\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->pgeocode) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\technologydataservic\anaconda3\lib\site-packages (from requests->pgeocode) (2022.5.18.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\technologydataservic\anaconda3\lib\site-packages (from requests->pgeocode) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\technologydataservic\anaconda3\lib\site-packages (from requests->pgeocode) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\technologydataservic\anaconda3\lib\site-packages (from requests->pgeocode) (3.3)
Note: you may need to restart the kernel to use updated packages.

In [13]:
import pgeocode

In [14]:
# df["Miles"] = df["Km"] / 1.609

In [15]:
dist = pgeocode.GeoDistance('us')
dist.query_postal_code("43123", "98292")

3234.9427067072347

In [16]:
df.head()

,#,Hospital,Address1,City,St.,Zip,Phone,Grove_Zip
0,0,CORPORATE,2125 Chenault,Carrollton,TX,75006,(972)759-5000,43123
1,1,CORPORATE,2125 Chenault,Carrollton,TX,75006,(972)759-5000,43123
2,2,Plano-Medical City,3901 W 15th St,Plano,TX,75075,(972)519-1270,43123
3,7,Methodist Specialty and Transplant Hospital,8026 Floyd Curl Dr,San Antonio,TX,78229,(210)575-8278,43123
4,8,Metropolitan Methodist Hospital,1310 McCullough Ave,San Antonio,TX,78212,(210)757-2556,43123

In [17]:
df.tail()

,#,Hospital,Address1,City,St.,Zip,Phone,Grove_Zip
402,628,Covenant Children's Hospital,4000 24th Street,Lubbock,TX,79410,(806)725-6841,43123
403,629,Swedish Medical Center,501 E. Hampden Ave.,Englewood,CO,80113,(303)788-5790,43123
404,630,Riverside Community Hospital,4445 Magnolia Ave,Riverside,CA,92501,(951)788-3178,43123
405,631,Long Island Community Hospital,101 Hospital Road,Patchogue,NY,11772,()-,43123
406,632,French Hospital Medical Center,1911 Johnson Ave,San Luis Obispo,CA,93401,()-,43123

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   #          407 non-null    int64
 1   Hospital   407 non-null    object
 2   Address1   407 non-null    object
 3   City       407 non-null    object
 4   St.        407 non-null    object
 5   Zip        407 non-null    object
 6   Phone      407 non-null    object
 7   Grove_Zip  407 non-null    object
dtypes: int64(1), object(7)
memory usage: 25.6+ KB

In [19]:
len(df)

407

In [20]:
# df['D'] = dist.query_postal_code(df['A'].to_list(), df['B'].to_list())

In [21]:
df['Km'] = dist.query_postal_code(df['Zip'].to_list(), df['Grove_Zip'].to_list())

In [22]:
df.head()

,#,Hospital,Address1,City,St.,Zip,Phone,Grove_Zip,Km
0,0,CORPORATE,2125 Chenault,Carrollton,TX,75006,(972)759-5000,43123,1451.933005
1,1,CORPORATE,2125 Chenault,Carrollton,TX,75006,(972)759-5000,43123,1451.933005
2,2,Plano-Medical City,3901 W 15th St,Plano,TX,75075,(972)519-1270,43123,1437.278816
3,7,Methodist Specialty and Transplant Hospital,8026 Floyd Curl Dr,San Antonio,TX,78229,(210)575-8278,43123,1821.709757
4,8,Metropolitan Methodist Hospital,1310 McCullough Ave,San Antonio,TX,78212,(210)757-2556,43123,1821.374416

In [23]:
df["Miles"] = df["Km"] / 1.609

In [24]:
df.head()

,#,Hospital,Address1,City,St.,Zip,Phone,Grove_Zip,Km,Miles
0,0,CORPORATE,2125 Chenault,Carrollton,TX,75006,(972)759-5000,43123,1451.933005,902.382228
1,1,CORPORATE,2125 Chenault,Carrollton,TX,75006,(972)759-5000,43123,1451.933005,902.382228
2,2,Plano-Medical City,3901 W 15th St,Plano,TX,75075,(972)519-1270,43123,1437.278816,893.274591
3,7,Methodist Specialty and Transplant Hospital,8026 Floyd Curl Dr,San Antonio,TX,78229,(210)575-8278,43123,1821.709757,1132.199973
4,8,Metropolitan Methodist Hospital,1310 McCullough Ave,San Antonio,TX,78212,(210)757-2556,43123,1821.374416,1131.991557

In [25]:
# Create Bins

bins = [0, 151, 301, 601, 1001, 1401, 1801, 10000]
# labels = ['Local', '3', '4', '5', '6', '7', '8']

In [26]:
df['Zone'] = pd.cut(df['Miles'], bins=bins, labels = ['Local', '3', '4', '5', '6', '7', '8'])

In [27]:
df

,#,Hospital,Address1,City,St.,Zip,Phone,Grove_Zip,Km,Miles,Zone
0,0,CORPORATE,2125 Chenault,Carrollton,TX,75006,(972)759-5000,43123,1451.933005,902.382228,5
1,1,CORPORATE,2125 Chenault,Carrollton,TX,75006,(972)759-5000,43123,1451.933005,902.382228,5
2,2,Plano-Medical City,3901 W 15th St,Plano,TX,75075,(972)519-1270,43123,1437.278816,893.274591,5
3,7,Methodist Specialty and Transplant Hospital,8026 Floyd Curl Dr,San Antonio,TX,78229,(210)575-8278,43123,1821.709757,1132.199973,6
4,8,Metropolitan Methodist Hospital,1310 McCullough Ave,San Antonio,TX,78212,(210)757-2556,43123,1821.374416,1131.991557,6
...,...,...,...,...,...,...,...,...,...,...,...
402,628,Covenant Children's Hospital,4000 24th Street,Lubbock,TX,79410,(806)725-6841,43123,1812.543181,1126.502909,6
403,629,Swedish Medical Center,501 E. Hampden Ave.,Englewood,CO,80113,(303)788-5790,43123,1865.545624,1159.444142,6
404,630,Riverside Community Hospital,4445 Magnolia Ave,Riverside,CA,92501,(951)788-3178,43123,3096.828133,1924.691195,8
405,631,Long Island Community Hospital,101 Hospital Road,Patchogue,NY,11772,()-,43123,861.071220,535.159242,4
406,632,French Hospital Medical Center,1911 Johnson Ave,San Luis Obispo,CA,93401,()-,43123,3325.586978,2066.865741,8

In [28]:
df.tail(11)

,#,Hospital,Address1,City,St.,Zip,Phone,Grove_Zip,Km,Miles,Zone
396,622,Children's Hospital of Philadelphia - Main,3401 Civic Center Blvd,Philadelphia,PA,19104,(267)426-0900,43123,671.967430,417.630472,4
397,623,Sunrise Hospital & Medical Center,Adult Hospital Gift Shop,Las Vegas,NV,89109,(702)961-7032,43123,2824.636389,1755.522927,7
398,624,Children's Hospital of Philadelphia,515 Olser Circle,Philadelphia,PA,19104,(267)426-0090,43123,671.967430,417.630472,4
399,625,Hartford Hospital,80 Seymour St,Hartford,CT,06102,()-,43123,896.871821,557.409460,4
400,626,Tulane Medical Center,1415 Tulane Ave,New Orleans,LA,70112,(504)988-4631,43123,1273.028024,791.192060,5
401,627,Tulane Lakeside Hospital,4700 SI-10 Service Rd. W,Metairie,LA,70001,(504)780-4313,43123,1274.718407,792.242640,5
402,628,Covenant Children's Hospital,4000 24th Street,Lubbock,TX,79410,(806)725-6841,43123,1812.543181,1126.502909,6
403,629,Swedish Medical Center,501 E. Hampden Ave.,Englewood,CO,80113,(303)788-5790,43123,1865.545624,1159.444142,6
404,630,Riverside Community Hospital,4445 Magnolia Ave,Riverside,CA,92501,(951)788-3178,43123,3096.828133,1924.691195,8
405,631,Long Island Community Hospital,101 Hospital Road,Patchogue,NY,11772,()-,43123,861.071220,535.159242,4
406,632,French Hospital Medical Center,1911 Johnson Ave,San Luis Obispo,CA,93401,()-,43123,3325.586978,2066.865741,8

In [29]:
df.head(40)

,#,Hospital,Address1,City,St.,Zip,Phone,Grove_Zip,Km,Miles,Zone
0,0,CORPORATE,2125 Chenault,Carrollton,TX,75006,(972)759-5000,43123,1451.933005,902.382228,5
1,1,CORPORATE,2125 Chenault,Carrollton,TX,75006,(972)759-5000,43123,1451.933005,902.382228,5
2,2,Plano-Medical City,3901 W 15th St,Plano,TX,75075,(972)519-1270,43123,1437.278816,893.274591,5
3,7,Methodist Specialty and Transplant Hospital,8026 Floyd Curl Dr,San Antonio,TX,78229,(210)575-8278,43123,1821.709757,1132.199973,6
4,8,Metropolitan Methodist Hospital,1310 McCullough Ave,San Antonio,TX,78212,(210)757-2556,43123,1821.374416,1131.991557,6
5,11,Clear Lake Regional Medical Center,500 Medical Center Blvd,Webster,TX,77598,(281)338-3577,43123,1588.581484,987.309810,5
6,15,Medical City Fort Worth,900 8th Ave,Fort Worth,TX,76104,(817)347-1688,43123,1500.571085,932.610991,5
7,18,Texas Health Plano,6200 W Parker Rd,Plano,TX,75093,(972)981-8080,43123,1440.676736,895.386411,5
8,21,Memorial Hermann Memorial City Medical Center,920 Frostwood,Houston,TX,77024,(713)932-3930,43123,1594.670376,991.094081,5
9,23,Saint Barnabas Medical Center,94 Old Short Hills Rd,Livingston,NJ,07039,(973)322-5239,43123,749.322596,465.707020,4
10,25,The Hospitals of Providence-Memorial Campus,2001 N Oregon St,El Paso,TX,79902,(915)577-6720,43123,2285.968452,1420.738628,7
11,27,Presence Saint Joseph Hospital,2900 N Lake Shore Dr,Chicago,IL,60657,(773)665-3353,43123,446.899141,277.749621,3
12,30,The Hospitals of Providence-Sierra Campus,1625 Medical Center Dr,El Paso,TX,79902,(915)747-2711,43123,2285.968452,1420.738628,7
13,34,Redmond Regional Medical Center,501 Redmond Rd,Rome,GA,30165,(706)802-3855,43123,650.660030,404.387837,4
14,35,St. Christopher's Hospital for Children,160 E Erie Ave,Philadelphia,PA,19134,(215)427-5948,43123,679.451144,422.281631,4
15,44,Prince George's Hospital Center,3001 Hospital Drive,Cheverly,MD,20785,(301)618-2331,43123,543.872091,338.018701,4
16,47,Englewood Hospital and Medical Center,350 Engle St,Englewood,NJ,07631,(201)894-3000,43123,779.099157,484.213274,4
17,48,University of Cincinnati Medical Center,234 Goodman St,Cincinnati,OH,45219,(513)584-4783,43123,148.564048,92.333156,Local
18,50,Montefiore Medical Center - Einstein Campus (J...,Einstein Campus,Bronx,NY,10461,(718)904-2742,43123,790.037848,491.011714,4
19,54,Einstein Medical Center Philadelphia,5501 Old York Rd,Philadelphia,PA,19141,(215)456-6748,43123,676.632032,420.529541,4
20,55,New York-Presbyterian Hospital,Columbia University Medical Center,New York,NY,10032,(212)305-7008,43123,781.494203,485.701804,4
21,56,Children's Hospital of Pittsburgh of UPMC,4401 Penn Ave,Pittsburgh,PA,15224,(412)692-5187,43123,274.454899,170.574829,3
22,59,Women & Infants Hospital of Rhode Island,101 Dudley St,Providence,RI,02905,(401)274-1122,43123,1004.993418,624.607469,5
23,66,The University of Chicago Medicine,Mitchell Lobby,Chicago,IL,60637,(773)834-1360,43123,435.029611,270.372661,3
24,68,The Brooklyn Hospital Center,121 DeKalb Ave,Brooklyn,NY,11201,(718)250-8077,43123,776.240365,482.436523,4
25,71,Medical City Lewisville,500 W Main St,Lewisville,TX,75057,(469)370-2818,43123,1455.158034,904.386596,5
26,72,JFK Medical Center,5301 S Congress Ave,Atlantis,FL,33462,(561)548-3717,43123,1505.530245,935.693129,5
27,76,Hospital of the University of Pennsylvania,3400 Spruce St,Philadelphia,PA,19104,(215)662-2701,43123,671.967430,417.630472,4
28,77,Penn Presbyterian Medical Center,51 North 39th Street,Philadelphia,PA,19104,(215)662-9489,43123,671.967430,417.630472,4
29,79,New York-Presbyterian - Morgan Stanley Childre...,3959 Broadway,New York,NY,10032,(212)342-8487,43123,781.494203,485.701804,4
30,81,"John H. Stroger, Jr. Hospital of Cook County",1901 West Harrison St,Chicago,IL,60612,(312)864-2086,43123,446.216348,277.325263,3
31,82,New York-Presbyterian Hospital,Weill Cornell Center,New York,NY,10021,(212)746-4230,43123,779.467384,484.442128,4
32,87,Newark Beth Israel Medical Center,400 Osborne Terrace,Newark,NJ,07112,(973)926-7313,43123,757.629275,470.869655,4
33,93,Medical City Denton,3535 S I-35 E,Denton,TX,76207,(940)384-3110,43123,1457.831463,906.048143,5
34,94,Grady Memorial Hospital,80 Jesse Hill Jr Dr SE,Atlanta,GA,30303,(404)616-3271,43123,691.306961,429.650069,4
35,95,Children's Healthcare of Atlanta at Hughes Spa...,35 Jesse Hill Jr. Dr SE,Atlanta,GA,30303,(404)785-9667,43123,691.306961,429.650069,4
36,96,NYU Langone Hospital - Brooklyn,150 55th St,Brooklyn,NY,11220,(718)630-7162,43123,773.943665,481.009115,4
37,97,Clara Maass Medical Center,One Clara Maass Dr,Belleville,NJ,07109,(973)450-2956,43123,762.547917,473.926611,4
38,110,Aventura Hospital and Medical Center,20900 Biscayne Blvd,Aventura,FL,33180,(305)682-7394,43123,1571.949307,976.972844,5
39,114,University of Maryland St. Joseph Medical Center,7601 Osler Road,Towson,MD,21204,(410)337-1294,43123,557.217210,346.312747,4

In [30]:
df.head()

,#,Hospital,Address1,City,St.,Zip,Phone,Grove_Zip,Km,Miles,Zone
0,0,CORPORATE,2125 Chenault,Carrollton,TX,75006,(972)759-5000,43123,1451.933005,902.382228,5
1,1,CORPORATE,2125 Chenault,Carrollton,TX,75006,(972)759-5000,43123,1451.933005,902.382228,5
2,2,Plano-Medical City,3901 W 15th St,Plano,TX,75075,(972)519-1270,43123,1437.278816,893.274591,5
3,7,Methodist Specialty and Transplant Hospital,8026 Floyd Curl Dr,San Antonio,TX,78229,(210)575-8278,43123,1821.709757,1132.199973,6
4,8,Metropolitan Methodist Hospital,1310 McCullough Ave,San Antonio,TX,78212,(210)757-2556,43123,1821.374416,1131.991557,6

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   #          407 non-null    int64
 1   Hospital   407 non-null    object
 2   Address1   407 non-null    object
 3   City       407 non-null    object
 4   St.        407 non-null    object
 5   Zip        407 non-null    object
 6   Phone      407 non-null    object
 7   Grove_Zip  407 non-null    object
 8   Km         407 non-null    float64
 9   Miles      407 non-null    float64
 10  Zone       406 non-null    category
dtypes: category(1), float64(2), int64(1), object(7)
memory usage: 32.7+ KB

In [32]:
df['Zone'].value_counts()

4        153
5        107
3         43
6         34
8         26
Local     23
7         20
Name: Zone, dtype: int64

In [33]:
# Figure out why one fell through the cracks - location in Grove City - same zip showing 0 miles distance.
df['Zone'].isna().sum()

1

### USPS Priority Ground Rates

In [34]:
# USPS Shipping rates
one = [7.37, 7.68, 7.9, 8.12, 8.59, 9.16, 9.68, 16.39]
five = [8.45, 8.89, 9.82, 12.71, 17.03, 20.81, 24.01, 47.68]
ten = [10.29, 11.55, 12.92, 17.74, 24.52, 31.84, 36.77, 83.29]
twenty = [15.45, 17.51, 19.84, 28.46, 38.51, 50.29, 58.46, 139.13]
fifty = [34.01, 43.54, 56.07, 79.34, 97.77, 113.08, 131.06, 238.58]
seventy = [45.24, 49.63, 67.32, 89.31, 113.36, 135.17, 166.61, 305.03]

In [35]:
bins = [0, 151, 301, 601, 1001, 1401, 1801, 10000, 200000]
df['1lbs'] = pd.cut(df['Miles'], bins=bins, labels = one)

In [36]:
df.head()

,#,Hospital,Address1,City,St.,Zip,Phone,Grove_Zip,Km,Miles,Zone,1lbs
0,0,CORPORATE,2125 Chenault,Carrollton,TX,75006,(972)759-5000,43123,1451.933005,902.382228,5,8.12
1,1,CORPORATE,2125 Chenault,Carrollton,TX,75006,(972)759-5000,43123,1451.933005,902.382228,5,8.12
2,2,Plano-Medical City,3901 W 15th St,Plano,TX,75075,(972)519-1270,43123,1437.278816,893.274591,5,8.12
3,7,Methodist Specialty and Transplant Hospital,8026 Floyd Curl Dr,San Antonio,TX,78229,(210)575-8278,43123,1821.709757,1132.199973,6,8.59
4,8,Metropolitan Methodist Hospital,1310 McCullough Ave,San Antonio,TX,78212,(210)757-2556,43123,1821.374416,1131.991557,6,8.59

In [37]:
df['5lbs'] = pd.cut(df['Miles'], bins=bins, labels = five)
df['10lbs'] = pd.cut(df['Miles'], bins=bins, labels = ten)
df['20lbs'] = pd.cut(df['Miles'], bins=bins, labels = twenty)
df['50lbs'] = pd.cut(df['Miles'], bins=bins, labels = fifty)
df['70lbs'] = pd.cut(df['Miles'], bins=bins, labels = seventy)

### UPS Rates

In [38]:
# UPS Shipping rates
ups_one = [9.36, 9.36, 9.36, 9.36, 9.36, 9.36, 9.36, 21.29]
ups_five = [9.36, 9.36, 9.36, 9.36, 9.51, 10.01, 10.62, 30.64]
ups_ten = [9.36, 9.36, 9.36, 10.07, 10.42, 11.69, 12.92, 41.60]
ups_twenty = [9.36, 9.88, 10.09, 12.30, 14.33, 17.42, 19.55, 58.57]
ups_fifty = [12.53, 15.64, 18.56, 22.52, 27.75, 33.45, 37.19, 103.28]
ups_seventy = [14.88, 19.13, 22.06, 27.11, 31.24, 35.56, 42.47, 138.40]

In [39]:
df['UPS_1lbs'] = pd.cut(df['Miles'], bins=bins, labels = ups_one, ordered=False)
df['UPS_5lbs'] = pd.cut(df['Miles'], bins=bins, labels = ups_five, ordered=False)
df['UPS_10lbs'] = pd.cut(df['Miles'], bins=bins, labels = ups_ten, ordered=False)
df['UPS_20lbs'] = pd.cut(df['Miles'], bins=bins, labels = ups_twenty, ordered=False)
df['UPS_50lbs'] = pd.cut(df['Miles'], bins=bins, labels = ups_fifty, ordered=False)
df['UPS_70lbs'] = pd.cut(df['Miles'], bins=bins, labels = ups_seventy, ordered=False)

In [40]:
df.head()

,#,Hospital,Address1,City,St.,Zip,Phone,Grove_Zip,Km,Miles,...,10lbs,20lbs,50lbs,70lbs,UPS_1lbs,UPS_5lbs,UPS_10lbs,UPS_20lbs,UPS_50lbs,UPS_70lbs
0,0,CORPORATE,2125 Chenault,Carrollton,TX,75006,(972)759-5000,43123,1451.933005,902.382228,...,17.74,28.46,79.34,89.31,9.36,9.36,10.07,12.30,22.52,27.11
1,1,CORPORATE,2125 Chenault,Carrollton,TX,75006,(972)759-5000,43123,1451.933005,902.382228,...,17.74,28.46,79.34,89.31,9.36,9.36,10.07,12.30,22.52,27.11
2,2,Plano-Medical City,3901 W 15th St,Plano,TX,75075,(972)519-1270,43123,1437.278816,893.274591,...,17.74,28.46,79.34,89.31,9.36,9.36,10.07,12.30,22.52,27.11
3,7,Methodist Specialty and Transplant Hospital,8026 Floyd Curl Dr,San Antonio,TX,78229,(210)575-8278,43123,1821.709757,1132.199973,...,24.52,38.51,97.77,113.36,9.36,9.51,10.42,14.33,27.75,31.24
4,8,Metropolitan Methodist Hospital,1310 McCullough Ave,San Antonio,TX,78212,(210)757-2556,43123,1821.374416,1131.991557,...,24.52,38.51,97.77,113.36,9.36,9.51,10.42,14.33,27.75,31.24

In [42]:
df.to_csv('Lori_USPS.csv')

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 23 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   #          407 non-null    int64
 1   Hospital   407 non-null    object
 2   Address1   407 non-null    object
 3   City       407 non-null    object
 4   St.        407 non-null    object
 5   Zip        407 non-null    object
 6   Phone      407 non-null    object
 7   Grove_Zip  407 non-null    object
 8   Km         407 non-null    float64
 9   Miles      407 non-null    float64
 10  Zone       406 non-null    category
 11  1lbs       406 non-null    category
 12  5lbs       406 non-null    category
 13  10lbs      406 non-null    category
 14  20lbs      406 non-null    category
 15  50lbs      406 non-null    category
 16  70lbs      406 non-null    category
 17  UPS_1lbs   406 non-null    category
 18  UPS_5lbs   406 non-null    category
 19  UPS_10lbs  406 non-null    category
 20  UPS_20lbs  406 non-null    category
 21  UPS_50lbs  406 non-null    category
 22  UPS_70lbs  406 non-null    category
dtypes: category(13), float64(2), int64(1), object(7)
memory usage: 41.2+ KB